@import url("https://fonts.googleapis.com/css?family=Rubik:700&display=swap");

@mixin launch-site {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  aspect-ratio: 1;
  border-radius: 100%;

  background-color: var(--btn-bg);

  border: 1px solid var(--btn-border);
  border-radius: 0.75em;

  transform-style: preserve-3d;
  transition: transform 150ms linear, background-color 150ms linear;

  transform: translate3d(0, 0, 1em);

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--btn-side-bg);
    border-radius: inherit;
    box-shadow: 0 0 0 1px var(--btn-border), 0 0.15em 0 0 var(--btn-shadow);
    transform: translate3d(0, 0.15em, -0.2em);
    transition: transform 150ms linear, box-shadow 150ms linear;
  }
}

* {
  box-sizing: border-box;
  // transform-style: preserve-3d;
}

:root {
  // rocket
  --perspective: 1200;
  // --rotate-x: -15;
  // --rotate-y: -40;
  --body: #999;
  --wings: #666;
  --base: #bf4040;
  --flame: #e68019;
  --accent: #e6b3b3;
  --window: #d1fafa;
  --window-frame: #ccc;
  --bottom: #4d4d4d;
  --size-factor: 8px;

  // button
  --ground-bg: #177908;
  --sky-bg: #6bc8cc;
  --btn-bg: #96867f;
  --btn-text: white;
  --btn-hover-bg: #887c76;
  --btn-border: #2d2524;
  --btn-side-bg: #5b524c;
  --btn-shadow: rgba(0, 0, 0, 0.2);
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sky {
  flex: 1;
  background-color: var(--sky-bg);
}

.ground {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  flex: 1;
  background-color: var(--ground-bg);
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 300px;
  height: 100px;
  font-size: 20px;
  font-weight: 700;

  cursor: pointer;
  outline: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;

  color: var(--btn-text);
  background-color: var(--btn-bg);

  transform-style: preserve-3d;
  transition: transform 150ms linear, background-color 150ms linear;

  padding: 1.25em 2em;
  border: 2px solid var(--btn-border);
  border-radius: 0.75em;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--btn-side-bg);
    border-radius: inherit;
    box-shadow: 0 0 0 2px var(--btn-border), 0 0.625em 0 0 var(--btn-shadow);
    transform: translate3d(0, 0.75em, -1em);
    transition: transform 150ms linear, box-shadow 150ms linear;
  }

  &:hover,
  &:active {
    background: var(--btn-hover-bg);
  }

  &_pressed {
    transform: translate(0, 0.25em);
    &::before {
      box-shadow: 0 0 0 2px var(--btn-border), 0 0.5em 0 0 var(--btn-shadow);
      transform: translate3d(0, 0.5em, -1em);
    }
  }

  &_hammered {
    transform: translate(0em, 0.75em);
    &::before {
      box-shadow: 0 0 0 2px var(--btn-border), 0 0 var(--btn-shadow);
      transform: translate3d(0, 0, -1em);
    }
  }
}

.text {
  width: 110px;
  text-shadow: 0px 0px 0 rgb(204, 204, 204), 0px 2px 0 rgb(105, 105, 105),
    0px 4px 0px rgba(0, 0, 0, 0.5);
}

.start {
  left: 10px;
  position: absolute;
  @include launch-site;
}

.finish {
  right: 10px;
  position: absolute;
  @include launch-site;
}

.plane {
  height: calc(var(--plane-height, 8) * var(--size-factor));
  width: calc(var(--plane-width, 8) * var(--size-factor));
  transform-style: preserve-3d;
  transform: translate3d(var(--rocket-x), var(--rocket-y), 0px)
    rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
}

.plane_launching {
  animation: rocket-launch linear 10s;
}

@keyframes rocket-launch {
  0% {
    transform: translate3d(var(--rocket-x), var(--rocket-y), 0px)
      rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
  }

  5% {
    transform: translate3d(
        calc(var(--rocket-x) + 25px),
        calc(var(--rocket-y) - 125px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 50deg))
      rotateY(calc(var(--rotate-y) + 20deg))
      rotateZ(calc(var(--rotate-z) + 100deg));
  }

  10% {
    transform: translate3d(
        calc(var(--rocket-x) + 50px),
        calc(var(--rocket-y) - 250px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 100deg))
      rotateY(calc(var(--rotate-y) + 25deg))
      rotateZ(calc(var(--rotate-z) + 360deg));
  }

  15% {
    transform: translate3d(
        calc(var(--rocket-x) + 75px),
        calc(var(--rocket-y) - 300px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 80deg))
      rotateY(calc(var(--rotate-y) + 30deg))
      rotateZ(calc(var(--rotate-z) + 3 * 180deg));
  }

  20% {
    transform: translate3d(
        calc(var(--rocket-x) + 100px),
        calc(var(--rocket-y) - 325px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 80deg))
      rotateY(calc(var(--rotate-y) + 20deg))
      rotateZ(calc(var(--rotate-z) + 4 * 180deg));
  }

  25% {
    transform: translate3d(
        calc(var(--rocket-x) + 125px),
        calc(var(--rocket-y) - 350px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 80deg))
      rotateY(calc(var(--rotate-y) + 10deg))
      rotateZ(calc(var(--rotate-z) + 5 * 180deg));
  }

  30% {
    transform: translate3d(
        calc(var(--rocket-x) + 150px),
        calc(var(--rocket-y) - 350px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 80deg))
      rotateY(calc(var(--rotate-y) + 0deg))
      rotateZ(calc(var(--rotate-z) + 6 * 180deg));
  }

  35% {
    transform: translate3d(
        calc(var(--rocket-x) + 150px),
        calc(var(--rocket-y) - 325px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 80deg))
      rotateY(calc(var(--rotate-y) - 10deg))
      rotateZ(calc(var(--rotate-z) + 7 * 180deg));
  }

  40% {
    transform: translate3d(
        calc(var(--rocket-x) + 160px),
        calc(var(--rocket-y) - 300px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 80deg))
      rotateY(calc(var(--rotate-y) - 20deg))
      rotateZ(calc(var(--rotate-z) + 8 * 180deg));
  }

  45% {
    transform: translate3d(
        calc(var(--rocket-x) + 160px),
        calc(var(--rocket-y) - 275px),
        0px
      )
      rotateX(calc(var(--rotate-x) + 80deg))
      rotateY(calc(var(--rotate-y) - 10deg))
      rotateZ(calc(var(--rotate-z) + 9 * 180deg));
  }

  80% {
    transform: translate3d(
        calc(var(--rocket-end-x)),
        calc(var(--rocket-end-y)),
        0px
      )
      rotateX(var(--rotate-x)) rotateY(var(--rotate-y))
      rotateZ(calc(var(--rotate-z) + 14 * 180deg));
  }

  82% {
    transform: translate3d(
        calc(var(--rocket-end-x)),
        calc(var(--rocket-end-y) + 10px),
        0px
      )
      rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
  }

  84% {
    transform: translate3d(
        calc(var(--rocket-end-x)),
        calc(var(--rocket-end-y)),
        0px
      )
      rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
  }

  95% {
    transform: translate3d(
        calc(var(--rocket-end-x)),
        calc(var(--rocket-end-y)),
        0px
      )
      rotateX(var(--rotate-x)) rotateY(var(--rotate-y))
      rotateZ(calc(var(--rotate-z)));
  }

  100% {
    transform: translate3d(calc(var(--rocket-x)), calc(var(--rocket-y)), 0px)
      rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) rotateZ(var(--rotate-z));
  }
}

.rocket {
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;

  &:after {
    content: "";
    position: absolute;
    height: 20%;
    width: 20%;
    background: linear-gradient(
        40deg,
        transparent,
        rgba(255, 255, 255, 0.5),
        transparent
      ),
      var(--window);
    border-radius: 50%;
    border: var(--size-factor) solid var(--window-frame);
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%) rotateX(-90deg)
      translate3d(0, -50%, calc(5.6 * var(--size-factor))) rotateX(5deg);
  }
}
.rocket__bottom {
  height: 105%;
  width: 105%;
  border-radius: 50%;
  background: var(--bottom);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, calc(-8 * var(--size-factor)));
  &:before {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    background: radial-gradient(var(--flame) 50%, transparent 50%) 10% 10%/50%
        50% no-repeat,
      radial-gradient(var(--flame) 50%, transparent 50%) 90% 90%/50% 50%
        no-repeat,
      radial-gradient(var(--flame) 50%, transparent 50%) 10% 90%/50% 50%
        no-repeat,
      radial-gradient(var(--flame) 50%, transparent 50%) 90% 10%/50% 50%
        no-repeat,
      var(--bottom);
    transform: translate3d(0, 0, -3px);
  }
  &:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    height: 72%;
    width: 72%;
    background: var(--body);
    border-radius: 50%;
    transform: translate3d(-50%, -50%, calc(4.25 * var(--size-factor)));
  }
}
.rocket__body {
  width: 75%;
  height: 200%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%) rotateX(-90deg)
    rotateY(calc(var(--rotate, 0) * 1deg));
  background: linear-gradient(0deg, var(--accent), var(--accent)) center 76%/100%
      6% no-repeat,
    var(--body);
  border-radius: 50% 50% 0 0/55% 55% 0 0;
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    background: var(--bottom);
    transform: translate(-50%, 0);
    width: 140%;
    height: 15%;
    -webkit-clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
    clip-path: polygon(15% 0, 85% 0, 100% 100%, 0 100%);
  }
}
.rocket__wings {
  width: 150%;
  height: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateX(-90deg) translate(0, 90%);
  &:after {
    transform: rotateY(90deg);
  }
}
.rocket__wings:after,
.rocket__wings:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--base);
  -webkit-clip-path: polygon(0 100%, 20% 0, 80% 0, 100% 100%);
  clip-path: polygon(0 100%, 20% 0, 80% 0, 100% 100%);
}
